main {
  margin-top: 30%;
  margin-left: 49%;
  width: 120%;
  height: 120%;
}

.box {
  width: 100%;
  margin-bottom: 10px;

  background-color: rgba(216, 221, 216, 0.541);
  border-radius: 0.3rem;
  outline: 0.3rem;
  outline-style: outset;
  outline-color: rgb(194, 99, 212);
}

.box.title:hover {
  background-color: rgba(200, 232, 233, 0.774);
  border-radius: 0.7rem;
  box-shadow: inset 2px 5px 7px rgb(68, 66, 43);
  outline-color: rgb(194, 99, 212);
}

.title {
  text-align: center;
  font-family: "RocherColor";
  font-size: 4ch;
  word-wrap: break-word;
  padding-inline: 0.7em;
  padding: 1em;
}
.dia-post {
  text-align: right;
  font-weight: 600;
  font-size: medium;
  color: darkgoldenrod;
  padding-top: 0.3em;
  padding-inline: 0.5em;
  margin-bottom: 2%;
}

.detailedPost {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 1rem;
  resize: none;

  width: 100%;
  height: 70%;  

  background: linear-gradient(#fff, #fff) padding-box,
              linear-gradient(154deg, #d910e0d3, #73e2d7f8) border-box;
  border: 5px solid transparent;
  border-radius: 0.5rem;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 2.2ch;
  color: rgb(24, 161, 161);
  letter-spacing: 1px;
}